/.idea/
/mag_report/node_modules/
/mag_report/2020_coverage.png
/mag_report/abstracts_by_cr_type.png
/mag_report/affiliations_by_cr_type.png
/mag_report/alluvial_all_time.png
/mag_report/alluvial_current.png
/mag_report/citations_to_by_cr_type.png
/mag_report/cr_in_mag_barline.png
/mag_report/current_coverage.png
/mag_report/doi_table_data_store.hd5
/mag_report/mag_table_data_store.hd5
/mag_report/overall_coverage.png
/mag_report/references_from_by_cr_type.png
/mag_report/value_add_2020_only.png
/mag_report/value_add_all_time.png
/mag_report/value_add_crossref_current_2019-21.png
/mag_report/value_add_subject_2020_only.png
/mag_report/value_add_subject_all_time.png
/mag_report/value_add_subject_crossref_current_2019-21.png
/mag_report/output_files/.precipy
